<li id="worklog-<%= worklog.id %>">
  <span class="user"><%= link_to worklog.user.name, worklog.user %></span>
  <br>
  <span class="content"><%= worklog.content %></span>
  <br>
  <span class="timestamp">
    记录时间： <%= worklog.created_at.strftime("%Y-%m-%d %H:%M:%S") %> 
  </span>
    <% if current_user?(worklog.user) %>
      <%= link_to "删除", worklog, method: :delete,
                                       data: { confirm: "确认删除?" } %>
    <% end %>
</li>