<section class="user_info">
	<h2>项目管理</h2>
	<h3>
		<%= link_to "项目清单", projects_path  %> |
		<%= link_to "新建项目", new_project_path  %> |
		<%= link_to "新建部门任务", new_implement_path  %> |
		<%= link_to "新建项目计划", new_plan_path %> |
		<%= link_to "新建项目参与人员", new_partaker_path  %>		
	</h3>
</section>