<div class="row">
    <%= form_for(@contract) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
		<%= f.label "合同名称" %>:
		<%= f.text_field :name ,:class => 'form-control'%>
	  <div class="row">
		<div class="col-xs-5">
		  <%= f.label "项目名称" %>
		  <%= collection_select(:contract ,:project_id , Project.all, :id, :name,:class => 'form-control') %>
		  <%= f.label "收/付" %>:
		  <%= collection_select(:contract ,:paytype_id , Paytype.all, :id, :name,:class => 'form-control') %>
		</div> 
		
		
		<div class="col-xs-5 col-md-offset-2">
		  <%= f.label "选择对方单位" %>
		  <%= collection_select(:contract ,:partyb_id , Partyb.all, :id, :name,:class => 'form-control') %>	
 		  <%= f.label "对方负责人" %>:
		  <%= f.text_field :director ,:class => 'form-control'%>	 
		</div>  
	</div>  

	<div class="row">
		<div class="col-xs-5">
		  <%= f.label "第三方" %>:
		  <%= f.text_field :partyc ,:class => 'form-control'%>	  

	    </div>
		<div class="col-xs-5 col-md-offset-2">	  
		  <%= f.label "负责人电话" %>:
		  <%= f.text_field :director_tel ,:class => 'form-control'%>

	    </div>
	</div>  
	
	<div class="row">
		<div class="col-xs-5">
		  <%= f.label "合同总价（单位：元）" %>:
		  <%= f.text_field :total ,:class => 'form-control'%>
		  <%= f.label "费用明细" %>:
		  <%= f.text_area :detail ,:class => 'form-control'%>	
	    </div>
		<div class="col-xs-5 col-md-offset-2">	 
		  <%= f.label "合同期限（单位：天）" %>:
		  <%= f.text_field :time_limit ,:class => 'form-control'%>			
		  <%= f.label "签订时间" %>
  		  <%= f.date_select :sign_time,use_month_numbers: true %>		  
		</div>
	</div>   
	<div class="row">	
			 <label>上传合同（合同格式应为jpg或者pdf格式！）:</label>
			 <%= @contract.avatar_identifier if @contract.avatar? %>
			 <%= f.file_field :avatar ,:class => 'form-control'%>
	</div> 
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
</div>